@import "../../../../styles/styles.scss" ;

.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    position: absolute;
    width: 280px;
    height: 93.5vh;
    left: 0px;
    top: 48px;
    background: $color-white;
    box-shadow: inset -1px 0px 0px $color-gray-1;
}
