<section *ngIf="isDataLoaded" class="container">
    <ng-container *ngIf="isLocaleListPage; else others">
        <div class="button"></div>
    </ng-container>
    <ng-template #others>
        <app-dropdown [listOfLocales]="locales" [id]="'drop1'"></app-dropdown>
        <app-dropdown [listOfLocales]="locales" [id]="'drop2'"></app-dropdown>
        <span></span>
        <app-accordion [defaultPageId]="'career-site-bot'" [pages]="accord1" experienceType="Candidate Experience" id="cx"></app-accordion>
        <app-accordion [pages]="accord2" experienceType="Employee Experience" id="ex"></app-accordion>
        <app-accordion experienceType="Recruiter Experience" id="rx"></app-accordion>
    </ng-template>
</section>