@import "../../../../styles/styles.scss" ;

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 16px;
    width: 280px;
    height: 93.5vh;
    left: 0px;
    top: 48px;
    background: $color-white;
    box-shadow: inset -1px 0px 0px $color-gray-1;
}
app-accordion{
    position: relative;
    right: 1px;
}
