<section class="container">
    <ng-container *ngIf="isLocaleListPage; else others">
        <div class="button"></div>
    </ng-container>
    <ng-template #others>
        <app-dropdown></app-dropdown>
        <app-dropdown></app-dropdown>
        <app-accordion experienceType="Candidate Experience"></app-accordion>
        <app-accordion experienceType="Employee Experience"></app-accordion>
        <app-accordion experienceType="Recruiter Experience"></app-accordion>
    </ng-template>
</section>