<div class="main-container">    
<aside>
    <app-sidebar></app-sidebar>
</aside>
<main class="container">
    <header class="container-heading">
        <h1>
             {{ skeleton?.heading}}   
        </h1>
    </header>
    <section class="container-body">
        <section *ngFor="let section of skeleton?.configurations">
            <header class="config-heading">
                {{ section.heading}}
            </header>
            <div [ngClass]="section.configurationKey? 'card card-one-item': ''">
                <ng-container *ngIf="section?.actions?.type == 'toggle'">
                    <span class="section-toggle">
                        <app-toggle [id]="section.configurationKey" [isActive]="section.isChannelEnabled"></app-toggle>
                    </span>
                </ng-container>
                <span [ngClass]="section.configurationKey? 'd-i': ''" class="section-infotext">
                    {{ section.infoText }}
                </span>
                <ng-container *ngIf="section.features">
                    <div class="card" *ngFor="let feature of section.features">
                        <header class="card-one-item">
                            <div class="card-one-item-heading">
                                <span class="section-toggle" *ngIf="feature?.actions?.type == 'toggle'">
                                    <app-toggle [id]="feature.attributeConfigurationKey"></app-toggle>
                                </span>
                                <p [ngClass]="{ 'd-i': feature.literal }">
                                    {{ feature.literal }}
                                </p>
                            </div>
                            <span class="section-infotext">
                                {{ feature.infoText }}
                            </span>
                        </header>
                        <ng-container *ngIf="feature.attributes">
                            <div class="attribute">
                                <div class="attribute-heading">
                                    {{ feature.attributeHeading }}
                                    <br>
                                    <span>
                                        <!-- {{ feature.infoText }} -->
                                    </span>
                                </div>
                                <ng-container *ngFor="let attribute of feature.attributes">
                                    <div class="attribute-items">
                                        <div class="attribute-icon">
                                            <phenom-checkbox [id]="attribute.configurationKey" [isDisabled]="false" [isActive]="attribute[attribute.configurationKey]">
                                            </phenom-checkbox>
                                        </div>
                                        <div class="attribute-items-heading">
                                            <span class="attribute-items-title">
                                                {{ attribute.literal }}                                                
                                            </span>
                                            <span class="attribute-items-info-text">
                                                {{ attribute.infoText }}
                                            </span>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
            </div>
        </section>
    </section>
</main>
</div>