<ng-container *ngIf="!isDataLoaded">
    <app-loader></app-loader>
</ng-container>
<main *ngIf="isDataLoaded" class="container">
<app-header [experienceType]="skeleton?.experience" [botType]="skeleton?.heading">
</app-header>
    <section class="container-body">
        <section *ngFor="let section of skeleton?.configurations">
            <header class="config-heading">
                {{ section.heading}}
            </header>
            <!-- <div [ngClass]="[section.configurationKey? 'card card-one-item': '',(section[section.configurationKey])? 'disbaled-state':'']"> -->
            <div [ngClass]="{'card card-one-item' : section.configurationKey,'disabled-state': (section.configurationKey && !section[section.configurationKey])}">
                <ng-container *ngIf="section?.actions?.type == 'toggle'">
                    <span class="section-toggle">
                        <app-toggle [id]="section.configurationKey" [isActive]="section[section.configurationKey]">
                        </app-toggle>
                    </span>
                </ng-container>
                <span *ngIf="section.infoText" class="section-infotext"
                    [ngClass]="[section.configurationKey ? 'd-i': '']">
                    {{ section.infoText }}
                </span>
                <ng-container *ngIf="section.features">
                    <div class="card" *ngFor="let feature of section.features"
                        [ngClass]="{'disabled-state': (!feature[feature.configurationKey])}"
                        >
                        <header class="card-one-item">
                            <div class="card-one-item-heading">
                                <span class="section-toggle" *ngIf="feature?.actions?.type == 'toggle'">
                                    <app-toggle [id]="feature.configurationKey"
                                        [isActive]="feature[feature.configurationKey]"></app-toggle>
                                </span>
                                <p [ngClass]="{ 'd-i': feature.literal }">
                                    {{ feature.literal }}
                                </p>
                            </div>
                            <span class="section-infotext">
                                {{ feature.infoText }}
                            </span>
                        </header>
                        <ng-container *ngIf="feature.attributes">
                            <div class="attribute">
                                <div class="attribute-heading">
                                    {{ feature.attributeHeading }}
                                    <br>
                                    <span>
                                        <!-- {{ feature.infoText }} -->
                                    </span>
                                </div>
                                <ng-container *ngFor="let attribute of feature.attributes">
                                    <div
                                        [ngClass]="attribute?.actions?.type=='progress-bar'? 'attribute-items-progress-bar': 'attribute-items'">
                                        <div class="attribute-icon">
                                            <ng-container *ngIf="attribute.actions.type=='checkbox'">
                                                <phenom-checkbox
                                                    [attributeConfigurationKey]="feature.attributeConfigurationKey"
                                                    [id]="attribute.configurationKey"
                                                    [isDisabled]="!feature[feature.configurationKey] || (attribute.actions.disabled)"
                                                    [isActive]="attribute[attribute.configurationKey]"
                                                    >
                                                </phenom-checkbox>
                                            </ng-container>
                                            <ng-container *ngIf="attribute.actions.type=='progress-bar'">
                                                <app-progressbar [isDisabled]="!feature[feature.configurationKey] || (attribute.actions.disabled)" [value]="attribute[attribute.configurationKey]">
                                                </app-progressbar>
                                            </ng-container>
                                        </div>
                                        <div class="attribute-items-heading">
                                            <span class="attribute-items-title">
                                                {{ attribute.literal }}
                                            </span>
                                            <span class="attribute-items-info-text">
                                                {{ attribute.infoText }}
                                            </span>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
            </div>
        </section>
    </section>
</main>