<div *ngIf="skeleton" class="mfe-provision" >
    <div class="mfe-header-section">
        <i [innerHtml]="skeleton.svg | safe: 'html'">
            provisioningIcon
        </i>
        <span>
            {{ skeleton.heading }}
        </span>
    </div>
    <div class=mfe-card>
            <div class="mfe-card-header">
                <div>
                    {{ skeleton.subHeading }}
                </div>
                <div>
                    <app-button [label]="skeleton.buttonText" class="custom" [buttonClass]="'btn btn-small'" (onClick)="provisionChannel()" ></app-button>
                </div>
            </div>
            <hr>
            <div class="mfe-card-body">
                <i [innerHtml]="skeleton.infoSvg | safe: 'html'">
                    Icon
                </i>
                <div>
                    {{ skeleton.infoText }}
                </div>
            </div>
    </div>
</div>