$color-pp-blue: #00A9B7;
$color-pp-blue1: #01b2c0;
$color-pp-blue2: #01a8b6;
$color-pp-blue3: #33c1cc;
$color-pp-blue4: #38c2cd;
$color-pp-blue5: #00A8B6;
$color-pp-blue6: #00c3d0;
$color-pp-blue7: #00eff9;
$color-pp-blue8: #cbf1f4;
$color-pp-blue9: #ccf0f2;

$color-pp-light-blue1: #D3D4CE;
$color-pp-dark-blue: #15B0BC;
$color-pp-dark-blue2: #2FB7C2;
$color-pp-dark-blue3: $color-pp-blue1;
$color-pp-dark-blue4: #047e88;
$color-pp-dark-blue5: #00a9b7;
$color-pp-dark-blue6:  #0098a4;
$color-pp-dark-light-blue: #00626C;
$color-pp-dark-light-blue1: #00626b;
$color-pp-dark-light-blue2: #4a90e2;
$color-dark-blue: #0158c5;
$color-pp-light-blue: #D2E4E6;
$color-pp-ligher-blue: #F3FBFB;
$color-pp-ligher-blue1: #EDEDED;
$color-pp-ligher-blue2: #C3D5D7;
$color-pp-ligher-blue3: #66AFE9;
$color-pp-ligher-blue4: #28edce;
$color-pp-ligher-blue5: #f0f3f5;
$color-pp-ligher-blue6: #c7c7c7;
$color-pp-ligher-blue7: #f4f8f9;
$color-pp-ligher-blue8:#81cced;
$color-pp-ligher-blue9:#89dde5;
$color-pp-ligher-blue10:#87b6e1;
$color-pp-ligher-blue11:#9598ab;
$color-pp-ligher-blue12:#ebf4f6;
$color-pp-ligher-blue13:#76777b;
$color-pp-ligher-blue14:#26bdc9;
$color-pp-ligher-blue15:#a0dee4;
$color-pp-ligher-blue16:#dfe4eb;
$color-pp-ligher-blue17:#84a0b9;
$color-pp-ligher-blue18:#b2c1c9;
$color-pp-ligher-blue19:#94a8b9;
$color-pp-ligher-blue20:#edf9fa;
$color-pp-ligher-blue21:#BECED2;
$color-pp-ligher-blue22:#c6d7e5;
$color-pp-ligher-blue23:#768da0;
$color-pp-ligher-blue24:#dde7ef;
$color-pp-ligher-blue25:#c6d6e5;
$color-pp-ligher-blue26:#848796;
$color-pp-ligher-blue27:#eef3f5;
$color-pp-ligher-blue28:#ebf1f3;
$color-pp-ligher-blue29:#ebebeb;
$color-pp-ligher-blue30:#fafafb;
$color-pp-ligher-blue31:#4987bb;
$color-pp-ligher-blue32:#f4f7fa;
$color-pp-lighter-blue33:#00ccdc;
$color-pp-lighter-blue34:#3793ff;
$color-pp-lighter-blue35:#f4fbfb;
$color-pp-ligher-blue36: #93a4ae;
$color-pp-lighter-blue37:#f8fcfe;
$color-pp-lighter-blue38:#d3eff1;
$color-pp-lighter-blue39: #f0feff;
$color-pp-lighter-blue40: #edfeff;
$color-pp-lighter-blue41: #2bb5fe;
$color-pp-lighter-blue42: #d1cdf1;
$color-pp-lighter-blue43: #40bec8;
$color-pp-lighter-blue44: #00bbc8;
$color-pp-lighter-blue45: #c0e8ec;
$color-pp-lighter-blue46: #79d0d6;
$color-pp-lighter-blue47: #f0f5ff;
$color-pp-ligther-blue48: #e9eff8;
$color-pp-lighter-blue49: #f5f9ff;
$color-pp-lighter-blue50: #f4f8ff;
$color-pp-lighter-blue51: #f8fafc;
$color-pp-lighter-blue52: #c9d8e6;
$color-pp-lighter-blue53: #ffe8d6;
$color-pp-lighter-blue54: #779aac;

$color-pp-lighter-blue55: #fbfeff;
$color-pp-lighter-blue56: #bfe5ff;
$color-pp-lighter-blue57: #bcf4f2;
$color-pp-lighter-blue58: #CAD5E0;
$color-pp-lighter-blue59: #e5ddff;

$color-pp-violet: #b563f7;
$color-pp-voilet1: #695ae4;
$color-pp-voilet2: #6351fc;

$color-blue1: #6162fe;
$color-blue2: #0058c5;
$color-blue3: #6c4ae2;



$color-pp-darker-blue1:#3eb4e8;
$color-pp-darker-blue2:#008893;
$color-pp-darker-blue3:#88ace4;
$color-pp-darker-blue4:#88d7e4;
$color-pp-darker-blue5:#84a0b8;
$color-pp-darker-blue6:#b05af6;
$color-pp-darker-blue7: #2a7aeb;
$color-pp-darker-blue8:#e0f9fb;


$color-white:#FFFFFF;
$color-light-white:#F3F3F3;
$color-light-white1:#F2F2F2;
$color-light-white2:#F1F1F1;
$color-light-white3:#eee;
$color-light-white4:#F5F5F5;
$color-light-white5:#F0F0F0;
$color-light-white6:#e6f5f6;
$color-light-white7:#efefef;
$color-light-white8:#f7f7f9;
$color-light-white9:#c1c1c1;
$color-light-white10:#f4f4f4;
$color-light-white11:#b9babf;
$color-light-white12:#c5c5c5;
$color-light-white13:#e9e9e9;
$color-light-white14:#fbfbfb;
$color-light-white15:#c5d0de;
$color-light-white16:#f6f6f6;
$color-light-white17:#dadada;
$color-light-white18:#e8e7e7;
$color-light-white19:#bdc1cc;
$color-light-white20:#74777e;
$color-light-white21:#dfeaef;
$color-light-white22:#eff4f8;
$color-light-white23:#f9fbfc;
$color-light-white24:#e1e0e0;
$color-light-white25:#fcfeff;
$color-light-white-26:#f0f0f0;
$color-light-white-27:#e6edf1;
$color-light-white-28:#ecf1f4;
$color-light-white-29:#eaeaea;
$color-light-white-30: #fafcfc;
$color-light-white-31: #e6dcff;
$color-light-white-32:#ecf1ff;
$color-light-white-33: #ebf4f6;
$color-light-white-34: #f3f4f6;
$color-light-white-35: #E3EBED;
$color-light-white36: #fcfdfd;
$color-light-white-37: #8fa4b0;

$color-fade-grey:#F2F3F5;
$color-grey:#2D3444;
$color-grey1:#363B42;
$color-grey2: #acb3b7;
$color-grey3: #ccd4d9;
$color-dark-grey:#1A2234;
$color-dark-grey1:#5C5E6A;
$color-dark-grey2:#87868C;
$color-dark-grey3:#848796;
$color-dark-grey4:#6b6b6b;
$color-dark-grey5:#87888C;
$color-dark-grey6:#FAFAFA;
$color-dark-grey7:#3D3D3D;
$color-dark-grey8:#22282B;
$color-dark-grey9:#404040;
$color-dark-grey10:#525252;
$color-dark-grey11:#2F2F2F;
$color-dark-grey12:#585a5a;
$color-dark-grey13:#414242;
$color-dark-grey14:#2d3445;
$color-dark-grey15:#43515c;
$color-dark-grey16:#d3d3d3;
$color-dark-grey17:#868686;
$color-dark-grey18:#495057;
$color-dark-grey19:#8c8c8c;
$color-dark-grey20:#a4a4a4;
$color-dark-grey21:#c1c3ca;
$color-dark-grey22:#929292;
$color-dark-grey23: #464a4c;
$color-dark-grey24: #9ca4ab;
$color-dark-grey25: #e8eff5;
$color-dark-grey26:#4b6479;
$color-dark-grey27:#081d30;
$color-dark-grey28: #7d7a7a;
$color-dark-grey28:#718595;
$color-dark-grey29:#e6eaed;
$color-dark-grey30:#747474;
$color-dark-grey31:#768c98;
$color-dark-grey32: #c4bfc5;
$color-dark-grey33: #404146;
$color-dark-grey34: #4a4a4a;
$color-dark-grey35:  #768da0;
$color-dark-grey36: #243c50;
$color-dark-grey37: #677989;
$color-dark-grey38: #718495;
$color-dark-grey39: #546f85;
$color-dark-grey40: #667a7c;
$color-dark-grey41: #546f85;
$color-dark-grey42: #99aeb8;
$color-dark-gray43: #738896;
$color-dark-grey44: #d7dae2;
$color-dark-grey45: #2a3338;
$color-dark-grey46: #eae9ee;
$color-dark-grey47: #363636;
$color-dark-grey48: #4c5b67;
$color-dark-grey49: #474747;
$color-dark-grey50: #878787;
$color-dark-grey51: #89949b;
$color-dark-grey52: #5d7a91;
$color-dark-grey53: #5c7a91;
$color-dark-grey54:  #797979;
$color-dark-grey55:  #7a7a7a;
$color-dark-grey56:   #4b6479;
$color-dark-grey57: #667A7C;
$color-dark-grey58: #757889;
$color-dark-grey59: #6b6a6a;
$color-dark-grey60:  #f0f0f0;
$color-dark-grey61:  #cbcbcb;
$color-dark-grey62: #cacece;
$color-dark-grey63: #636c72;


$color-light-grey: #444444;
$color-light-grey1: #444;
$color-light-grey2: #5d5d5d;
$color-light-grey3: #9d9fa5;
$color-light-grey4: #8fa4af;
$color-light-grey5: #848796;
$color-light-grey6: #f0f3f5;
$color-light-grey7: #849aa6;
$color-light-grey8: #9daeb8;
$color-light-grey9:#33403f;
$color-light-grey10:#707070;
$color-light-grey11:#a8a9a9;
$color-light-grey12:#7f8080;
$color-light-grey13:#92a5b4;
$color-light-grey14:#979797;
$color-light-grey15:#4a6379;
$color-light-grey16:#c6d6e5;
$color-light-grey17:#828282;
$color-light-grey18:#e1e1e1;
$color-light-grey19:#808080;
$color-light-grey20:#bebebe;
$color-light-grey21:#adb5ba;
$color-light-grey22:#eceeef;
$color-light-grey23:#aebdc5;
$color-light-grey24:#adc4da;
$color-light-grey25:#c5cfd7;
$color-light-gray26:#9b9b9b;
$color-light-grey27: #bfcbd2;
$color-light-grey28: #b3b3b3;
$color-light-grey29: #99aeb8;
$color-light-grey30: #e2e0e0;
$color-light-grey31: #aaaaaa;
$color-light-grey32: #c3bfbf;
$color-light-grey33: #abbfc8;
$color-light-grey34: #99aeb8;
$color-light-grey35: #535353;
$color-light-grey36: #7d7d8e;
$color-light-grey37: #536e85;
$color-light-grey38: #a1a8ad;
$color-light-grey39: #8c8d92;
$color-light-grey40: #b1b6bb;
$color-light-grey41: #ecf1f6;
$color-light-grey42: #e0e4e5;
$color-light-grey43: #6b8091;
$color-light-grey44: #e8eaf6;
$color-light-grey45: #b7c6cf;
$color-light-grey46: #7a9ab2;
$color-light-grey47: #c5d4de;
$color-light-grey48: #c0c0c0;
$color-light-grey49: #d5d5d5;
$color-light-grey50: #c7d5e6;
$color-light-grey51: #d8d8d8;
$color-light-grey52: #eaf1f5;
$color-light-grey53: #4d5150;
$color-light-grey54 : #dde6e7;
$color-light-grey55 : #bfccd3;
$color-light-grey56 : #8fa3b0;
$color-light-grey57 : #bbbcc3;

$color-lighter-grey:#586065;
$color-lighter-grey1:#54575E;
$color-lighter-grey2:#909195;
$color-lighter-grey3:#686A75;
$color-lighter-grey4: #CCC;
$color-lighter-grey5: #86878C;
$color-lighter-grey6: #585A67;
$color-lighter-grey7: #555;
$color-lighter-grey8:#a6aab6;
$color-lighter-grey9:#a2a2a2;
$color-lighter-grey10:#ababab;
$color-lighter-grey11:#babbbd;
$color-lighter-grey12:#b9bbbd;
$color-lighter-grey13:#b6b8b2;
$color-lighter-grey14:#565656;
$color-lighter-grey15:#818181;
$color-lighter-grey16:#838383;
$color-lighter-grey17:#D1D1D1;
$color-lighter-grey18:#9398a5;
$color-lighter-grey19:#666873;
$color-lighter-grey20:#a3a3a3;
$color-lighter-grey21:#666;
$color-lighter-grey22:#e4e4e4;
$color-lighter-grey23:#e8e8e8;
$color-lighter-grey24:#61636f;
$color-lighter-grey25:#90a0ae;
$color-lighter-grey26:#7d7d7d;
$color-lighter-grey27:#7f7f7f;
$color-lighter-grey28:#768da0;
$color-lighter-grey29:#575757;
$color-lighter-grey30:#4b6479;
$color-lighter-grey31:#e3ebf2;
$color-lighter-grey32:#e2e9f1;
$color-lighter-grey33:#ebf4f8;
$color-lighter-grey34:#222731;
$color-lighter-grey35:#dbe5ee;
$color-lighter-grey36:#5f5f5f;
$color-lighter-grey37:#7d8e9d;
$color-lighter-grey38:#b8b8b8;
$color-lighter-grey39:#868998;
$color-lighter-grey40:#cfcfcf;
$color-lighter-grey41:#fbfcfd;
$color-lighter-grey42:#edf2f3;
$color-lighter-grey43:#B1BEC5;
$color-lighter-grey44:#979DA3;
$color-lighter-grey45: #677889;
$color-lighter-grey46: #d9e0e5;
$color-lighter-grey47: #f2f7f8;
$color-lighter-grey48: #e0e6e8;
$color-lighter-grey49: #E8EAED;
$color-lighter-gray50: #eceff1;
$color-lighter-gray51: #abafbb;
$color-lighter-gray52: #46545f;
$color-lighter-gray53: #e9edef;
$color-lighter-gray54: #f7fafa;
$color-lighter-gray55: #e8f5fa;
$color-lighter-grey56: #a2b6c1;
$color-lighter-gray57: #8f92a1;
$color-lighter-gray58: #9a9cab;
$color-lighter-grey59:#a2a5b1;
$color-lighter-grey60:#cbcfd8;
$color-lighter-grey61:#e9eff5;
$color-lighter-grey62: #f1f3f4;
$color-lighter-grey63: #8197ab;
$color-lighter-grey64: #bbcdd6;
$color-lighter-grey65: #fafcff;
$color-lighter-grey66: #cfcece;
$color-lighter-grey67: #a6a6a6;
$color-lighter-grey68: #94a8b3;
$color-lighter-grey69: #879ba0;
$color-lighter-grey70: #556673;
$color-lighter-grey71: #c7d4e6;
$color-lighter-grey72: #69747d;
$color-lighter-grey73: #a1a8ae;
$color-light-grey-safe: #767676;


$red:red;
$color-red:#D1666A;
$color-red1: #c43e3e;
$color-red2: #e85e56;
$color-red3: #d41f16;
$color-red-4: #fff1f0;
$color-dark-red:#FF1F29;
$color-dark-red1:#ff151f;
$color-dark-red2:#ff0c00;
$color-dark-red4:#f83b4e;
$color-dark-red3: #ff6666;
$color-dark-red5: #d41f16;
$color-pink-red:#ff7b9c;
$color-pink-red1:#f33389;
$color-pinkish-red:#ff6b5f;
$light-red:#fa8926;
$light-dark-orange:#f5a623;
$color-dark-pink-red:#f1b4ff;
$color-light-pink-red:#f0d5f6;
$color-light-purple:#9A7ED7;
$color-lighter-purple:#E5DDFF;
$color-dark-purple:#6C4AE2;
$color-light-pink:#ff718f;
$color-light-pink-2:#ff53b3;
$color-light-pink-3:#01b2c0;
$color-light-pink-4:#ff6c88;
$color-light-pink-5:#f33389;
$color-light-red3:#FDBA6B;
$color-light-red4: #ff3329;
$color-light-red5: #695ae4;
$color-light-red6: #4278ff;
$color-light-red7: #fff1f0;

$color-pink1: #fb5ba5;

$green : green;
$color-green:#55A158;
$color-green1:#58cb68;
$color-green2:#00bb1a;
$color-green3:#00c895;
$color-green4:#50e3c2;
$color-green5:#5cb85c;
$color_green6: #66CC99;
$color_green7: #2cbc4d;
$color_green8: #5db85b;
$color_green9: #2aab3c;
$color_green10: #00d78f;
$color_green11: #29c68f;
$color-green12: #28c368;
$color-green13: #3ec475;
$color-green14: #20A464;
$color-green15: #44d7b6;
$color-green16: #04d48f;


$color-light-green:#23db9b;
$color-light-green1: #00cfaa;
$color-light-green2: #cef5d3;
$color-light-green3: #e6fbf7;
$color-light-green4: #e6fdf4;
$color-stat-green:#58cb68;
$color-dark-green: #008f14;
$color-dark-green3: #D6ECDC;
$color-dark-green4: #007661;

$color-hash:#EEEEEE;
$color-light-hash:#F9F9F9;
$color-lighter-hash: #F1F2F2;
$color-lighter-hash1:#E0E0E0;
$color-lighter-hash2:#DCDCDC;
$color-lighter-hash3:#ADB0B7;
$color-lighter-hash4:#E5E5E5;
$color-lighter-hash5:#E6E6E6;
$color-lighter-hash6:#A7ABAE;
$color-lighter-hash7:#A7A8AC;
$color-lighter-hash8:#ECEDEF;
$color-lighter-hash9:#E0E1D9;
$color-lighter-hash10:#ADADAD;
$color-lighter-hash11:#DDD;
$color-lighter-hash12:#EFF0F1;
$color-lighter-hash13:#DEDEDE;
$color-lighter-hash14:#ECECEC;
$color-lighter-hash15:#888787;
$color-lighter-hash16:#53585c;
$color-lighter-hash17:#d4d4d4;
$color-lighter-hash18:#c0bdbd;
$color-lighter-hash19:#dfdfdf;
$color-lighter-hash20:#9ea1b3;
$color-lighter-hash21:#9ca0b5;
$color-lighter-hash22:#a7a7a7;
$color-lighter-hash23:#a0a0a0;
$color-lighter-hash24:#b7b7b7;
$color-lighter-hash25: #eeeeee;
$color-lighter-hash26: #e3e0e0;
$color-lighter-hash27: #e5e6eb;
$color-lighter-has28: #a9a9a9;
$color-lighter-hash29: #a8aeb3;
$color-lighter-hash30: #bec1cc;






$color-dark-light-hash:#DFDFDF;

$color-dark-hash:#CCCCCC;
$color-dark-hash1:#C6C7C7;
$color-dark-hash2:#FDFDFD;
$color-dark-hash3:#E2E2E2;
$color-dark-hash4: #f2f6f9;
$color-dark-hash5: #4f5050;




$color-darker-light-hash:#D2D4CD;


$color-darker-hash:#B3B5B5;
$color-darker-hash1:#83848D;
$color-darker-hash2:#898A8A;
$color-darker-hash3:#798084;
$color-darker-hash4:#575C69;
$color-darker-hash5:#BBB;
$color-darker-hash6:#777;
$color-darker-hash7:#999999;
$color-darker-hash8:#EDEEEF;
$color-darker-hash9:#5B5D69;
$color-darker-hash10:#85878C;
$color-darker-hash11:#EEEFF0;
$color-darker-hash12:#85868a;
$color-darker-hash13:#5d5d5d;
$color-darker-hash14:#898989;
$color-darker-hash15:#84888b;
$color-darker-hash16:#83888c;
$color-darker-hash17:#87868B;
$color-darker-hash18:#5d5d69;
$color-darker-hash19:#90a4af;
$color-darker-hash20:#D9D9D9;
$color-darker-hash21:#c6c6c6;
$color-darker-hash22:#D2D2D2;
$color-darker-hash23:#3E3E3E;
$color-darker-hash24: #5c5e6a;
$color-darker-hash25: #797979;
$color-darker-hash26: #9f9f9f;
$color-darker-hash27:#5b5b5b;
$color-darker-hash28:#9e9e9e;
$color-darker-hash29:#767882;
$color-darker-hash30:#b4b4b4;
$color-darker-hash31:#4b5257;
$color-darker-hash32:#162d3d;
$color-darker-hash33:#373737;
$color-darker-hash34:#9babb3;
$color-darker-hash35:#666666;
$color-darker-hash36:#e2e2e2;
$color-darker-hash37:#494949;
$color-darker-hash38:#8398a8;
$color-darker-hash39: #212423;
$color-darker-hash40: #4d5150;
$color-darker-hash41: #8a9aa8;

$color-black:#000000;
$color-black1:#262626;
$color-light-black:#7d8391;
$color-lighter-black:#404546;
$color-lighter-black2:#40454C;
$color-lighter-black3:#323232;
$color-lighter-black4:#333;
$color-lighter-black5:#888;
$color-lighter-black6:#4A4A4A;
$color-lighter-black7:#3e4553;
$color-lighter-black8:#22282b;
$color-lighter-black9: #2c2f2e;
$color-lighter-black10: #626564;
$color-lighter-black12:#212423;
$color-lighter-black13: #c6d6e5;
$color-lighter-black14: #ced4da;
$color-lighter-black15: #d8e2e3;

$color-primary:#54575F;

$linkedin-bg:#0077B3;
$google-plus-bg:#DB4E3D;
$facebook-bg:#3B5999;
$twitter-bg:#56abec;

$light-green:#97c728;
$light-green1:#37b34a;
$color-light-green2: #21a464;

$color-dark-yellow1: #ffbf00;
$color-light-yellow1: #ffa759;
$color-lighter-yellow:#fbffe5;

$color-yellow: #F5BA12;
$color-light-yellow2: #ff9f38;
$color-light-yellow3: #f6ba10;


$light-red:#ff5f57;
$light-red1:#FD4B42;
$light-red2:#f85359;
$light-red3:#d84545;
$light-red4:#D84544;
$light-red5:#ffe3e5;
$light-red6: #f95c71;
$light-red7: #fa5837;
$light-red8: #ffd9d7;
$light-red9: #ff3f3b;
$light-red10: #ffe3e1;

$light-orange-1: #ffa037;

$act-note:#63dfbf;
$act-profile :#af77ec;
$act-attachment:#5bb4ef;
$act-share:#9387fb;
$act-share1:#a850f9;
$act-share2:#6256ca;
$act-job:#9babb3;
$act-career-site:#ff71c8;
$act-interview:#e277ed;
/*--large screen break point variable----*/

$large-screen-breakpoint:5000px;

$yellow1: #f9c52d;



$color-over-time: #e04ed9;
$color-hopper: #0093f0;
$color-loyal: #c2913b;
$color-alumni: #1eb333;

$ms-team-link: #1974E8;
$ms-team-login-btn: #464775;
$ms-team-fail-text-color: #CC0000;
$loader2: #4f565a;

$baby-blue :#94d3ff;

$ms-team-link: #1974E8;
$ms-team-login-btn: #464775;
$ms-team-fail-text-color: #CC0000;
$loader2: #4f565a;

$color-light-blue: #dae4ed;
$color-inbox-right-blue: #cbdcf3;
$job_analytics_tabs_text_color: #96a6b0;
$color_whatsapp_template_background: #fff1f0;




// colors from new design system

//PRIMARY
$pp-ds-color-primary-light-bg: #EDF9FA;
$pp-ds-color-primary-mid-light: #C4F3F6;
$pp-ds-color-primary-main: #01B2C0;
$pp-ds-color-primary-mid-dark: #0D828D;
$pp-ds-color-primary-dark: #006770;

//SECONDARY
$pp-ds-color-secondary-light: #E4DDFC;
$pp-ds-color-secondary-mid-light: #B0A4FF;
$pp-ds-color-secondary-main: #9383FE;
$pp-ds-color-secondary-mid-dark: #6256CA;
$pp-ds-color-secondary-dark: #483DAD;

//GRAY
$pp-ds-color-gray-light: #CBD6E2;
$pp-ds-color-gray-mid-light: #A2A2A2;
$pp-ds-color-gray-mid-dark: #404040;
$pp-ds-color-gray-dark: #171516;
$pp-ds-color-gray-main: #525252;

//NEUTRALS
$pp-ds-color-neutral-light-bg: #F0F0F0;
$pp-ds-color-neutral-mid-light: #BDC1CC;
$pp-ds-color-neutral-main: #4B6479;
$pp-ds-color-neutral-dark: #43515C;
$pp-ds-color-neutral-mid-dark: #8A94A3;

//BLUE
$pp-ds-color-blue-mid-light: #52BCFF;
$pp-ds-color-blue-main: #0093F0;
$pp-ds-color-blue-dark: #013D89;
$pp-ds-color-blue-mid-dark: #0158C5;

//ACCENT
$pp-ds-color-neutral-accent-main: #E1E8FD;
$pp-ds-color-neutral-accent-light: #EEF3FD;
$pp-ds-color-neutral-accent-dark: #C9D5F8;


//BACKGROUND
$pp-ds-color-background-main: #F4F8FF;
$pp-ds-color-background-white: #FFFFFF;

//ERROR
$pp-ds-color-error-light: #FFF1F0;
$pp-ds-color-error-mid-light: #FF958F;
$pp-ds-color-error-main: #FF5630;
$pp-ds-color-error-mid-dark: #DE350B;
$pp-ds-color-error-dark: #D41F16;

//WARNING
$pp-ds-color-warning-light: #FFFAE6;
$pp-ds-color-warning-mid-light: #FFCD92;
$pp-ds-color-warning-main: #FF8B00;
$pp-ds-color-warning-mid-dark: #DF6E38;
$pp-ds-color-warning-dark: #C24B00;

//SUCCESS
$pp-ds-color-success-light: #E6F9F3;
$pp-ds-color-success-mid-light: #85DBBE;
$pp-ds-color-success-main: #36B37E;
$pp-ds-color-success-mid-dark: #00875A;
$pp-ds-color-success-dark: #006644;

//ELEMENTS
$pp-ds-color-elements-element1: #C80090;
$pp-ds-color-elements-element2: #F2DA04;
$pp-ds-color-elements-element3: #7BB32E;
$pp-ds-color-elements-element4: #6F4416;
$pp-ds-color-elements-element5: #FF4DAA;

//SHADOWS
$pp-ds-box-shadow-field: 0px 0px 8px rgba(0, 0, 0, 0.15);
$pp-ds-box-shadow-column: 0px 5px 25px rgba($pp-ds-color-neutral-main, 0.4);
$pp-ds-box-shadow-card: 0px 2px 6px rgba(0, 0, 0, 0.2);
$pp-ds-box-shadow-snakbar: 0px 1px 6px rgba(0, 0, 0, 0.2);


//Linkedin logo color
$pp-ds-linkedin-logo: #0976B4;


$appHeaderHeight: 55px;

$tabListHeight: 40px;
$actionBarHeight: 64px;
<<<<<<< HEAD


$color-brand-blue: #00838F;
$color-spanish-gray: #8D949A;
=======
$color-spanish-gray:#C2C5C8;
$color-brand-blue:#00838F;
$color-spanish-gray-3:#EDF0F1;
>>>>>>> 9c8bccbc102bad437c1c00a29e9bc2b9905ab3fd
