.container {
    width: 100%;
    .disabled-state {
        opacity: 0.6;
        cursor: not-allowed;
    }
    @media screen and (max-width: 1500px) {
        width: 100%;
    }
    .container-body {
        width: 85%;
        padding: 32px;
        .heading-block {
            padding: 10px 0px;
            box-shadow: inset 0px -1px 0px #DFE3E6;
        }
        .form-block {
            width: 98%;
            color: #152935;
            font-weight: 400;
            font-size: 13px;
            line-height: 20px;
            .input-block {
                margin-bottom: 24px;
                display: flex;
                flex-direction: column;
                gap: 4px;
            }
        }
        .footer-block {
            float: right;
        }
    }
}