    <div class="configurations-container">
        <app-header></app-header>
        
        <ng-container *ngIf="!isDataLoaded; else elseBlock">
            <app-loader></app-loader>
        </ng-container>
        <ng-template #elseBlock>
            <main *ngIf="true" class="configurations-container">
                <ng-container *ngIf="(!isCustomerIsProvisioned); else configureBlock">
                    <provision [skeleton]="skeleton?.provisioning" (provisioned)="provision($event)" ></provision>
                </ng-container>
                <ng-template #configureBlock>
                    <ng-container *ngIf="isCustomerIsProvisioned && configurations.isSetupDone === false; else configurationBlock">
                        <setup [skeleton]="skeleton?.setup"></setup>
                    </ng-container>    
                     <ng-template #configurationBlock>
                        <section class="container-body">
                            <section *ngFor="let section of skeleton?.configurations">
                                <header class="config-heading">
                                    <span [innerHTML]="section.svg | safe : 'html' ">
                                    </span>
                                    <span>
                                        {{ section.heading}}
                                    </span>
                                </header>
                                <!-- <div [ngClass]="[section.configurationKey? 'card card-one-item': '',(section[section.configurationKey])? 'disbaled-state':'']"> -->
                                <div [ngClass]="{'card card-one-item' : section.configurationKey,'disabled-state': (section.configurationKey && !section[section.configurationKey])}">
                                    <ng-container *ngIf="section?.actions?.type == 'toggle'">
                                        <span class="section-toggle">
                                            <app-toggle [id]="section.configurationKey" [isActive]="section[section.configurationKey]">
                                            </app-toggle>
                                        </span>
                                    </ng-container>
                                    <span *ngIf="section.infoText" class="section-infotext"
                                        [ngClass]="{'d-i': section.configurationKey}">
                                        {{ section.infoText }}
                                    </span>
                                    <ng-container *ngIf="section.features">
                                        <ng-container *ngFor="let feature of section.features">
                                        <div class="card"
                                            [ngClass]="{'disabled-state': (feature[feature.configurationKey] && !feature[feature.configurationKey])}">
                                                <header class="card-one-item">
                                                    <div class="card-one-item-heading">
                                                        <span class="section-toggle" *ngIf="feature?.actions?.type == 'toggle'">
                                                            <app-toggle [id]="feature.configurationKey"
                                                                [isActive]="feature[feature.configurationKey]"></app-toggle>
                                                        </span>
                                                        <p [ngClass]="{ 'd-i': feature.literal }">
                                                            {{ feature.literal }}
                                                            <span class="section-infotext">
                                                                {{ feature.infoText }}
                                                            </span>
                                                        </p>
                                                    </div>
                                                </header>
                                                <ng-container *ngIf="feature.flows">
                                                    <div class="features-types">
                                                        <div class="features-types-section" *ngFor="let flow of feature.flows">
                                                            <div>
                                                                <ng-container *ngIf="flow?.type == 'toggle'; else radio">
                                                                    <app-toggle [id]="flow.configurationKey"  
                                                                    [isDisabled]="feature[feature.configurationKey] && !feature[feature.configurationKey]"
                                                                    [isActive]="feature[flow.configurationKey]"></app-toggle>
                                                                </ng-container>
                                                                <ng-template #radio>
                                                                    <radio [isDisabled]="feature[feature.configurationKey] && !feature[feature.configurationKey]" [data]="flow"></radio>
                                                                </ng-template>
                                                            </div>
                                                            <div>
                                                                {{ flow.literal }}
                                                                <br>
                                                                {{ flow.infoText }}
                                                            </div>
        
                                                        </div>
                                                    </div>
                                                </ng-container>
                                                <ng-container *ngIf="feature.attributes">
                                                    <div *ngIf="checkRoleAccess(feature?.isInternal)" class="attribute">
                                                        <div class="attribute-heading">
                                                            {{ feature.attributeHeading }}
                                                            <br>
                                                            <span>
                                                                <!-- {{ feature.infoText }} -->
                                                            </span>
                                                        </div>
                                                        <ng-container *ngFor="let attribute of feature.attributes">
                                                            <div
                                                                [ngClass]="attribute?.actions?.type=='progress-bar'? 'attribute-items-progress-bar': 'attribute-items'">
                                                                <div class="attribute-icon">
                                                                    <ng-container *ngIf="attribute.actions.type=='checkbox'">
                                                                        <phenom-checkbox
                                                                            [attributeConfigurationKey]="feature.attributeConfigurationKey"
                                                                            [id]="attribute.configurationKey"
                                                                            [isDisabled]="feature[feature.configurationKey] && !feature[feature.configurationKey] || (attribute.actions.disabled)"
                                                                            [isActive]="attribute[attribute.configurationKey]"
                                                                            >
                                                                        </phenom-checkbox>
                                                                    </ng-container>
                                                                    <ng-container *ngIf="attribute.actions.type=='progress-bar'">
                                                                        <app-progressbar [id]="attribute.id" [configurationKey]="attribute.configurationKey" [isDisabled]="!feature[feature.configurationKey] || (attribute.actions.disabled)" [value]="attribute[attribute.configurationKey]">
                                                                        </app-progressbar>
                                                                    </ng-container>
                                                                </div>
                                                                <div class="attribute-items-heading">
                                                                    <span class="attribute-items-title">
                                                                        {{ attribute.literal }}
                                                                    </span>
                                                                    <span class="attribute-items-info-text">
                                                                        {{ attribute.infoText }}
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </ng-container>
                                                    </div>
                                                </ng-container>
                                            </div>
                                        </ng-container>
                                    </ng-container>
                                </div>
                            </section>
                        </section>
                    </ng-template>
                </ng-template>
            </main>
        </ng-template>
        <ng-template #viewContainerRef></ng-template>
    </div>