<div class="main-container">
    <!-- <app-sidebar [isLocaleListPage]="isLocaleListPage"></app-sidebar> -->

    <aside>
        <app-sidebar></app-sidebar>
    </aside>
        <div class="container">
        <router-outlet></router-outlet>
        </div>
</div> 

<!-- <section class="configurations">

    <div style="margin-left: 270px;">

    </div>
</section> -->


<!-- Base -->
<!-- <section> -->
<!-- <sidebar></sidebar> -->
<!-- router-outlet -->
<!-- </section> -->

<!-- /configurations route -->
<!-- Configurations -->
<!-- configurations dashboard -->


<!-- domain/configurations -->

<!-- domain/tenants -->
<!-- domain/regions -->
<!-- domain/faqs/:faqId -->
<!-- domain/settings -->
<!-- domain/unanswered-questions/:unansweredId -->
<!-- domain/fallback-responses -->