<div class="mfe-main-container">
    <aside>
        <app-sidebar></app-sidebar>
    </aside>
    <div class="mfe-base-container">
        <!-- <app-header></app-header> -->
        <router-outlet></router-outlet>
        <!-- <configurations></configurations> -->
    </div>
</div>

<!-- <section class="configurations">

    <div style="margin-left: 270px;">

    </div>
</section> -->


<!-- Base -->
<!-- <section> -->
<!-- <sidebar></sidebar> -->
<!-- router-outlet -->
<!-- </section> -->

<!-- /configurations route -->
<!-- Configurations -->
<!-- configurations dashboard -->


<!-- domain/configurations -->

<!-- domain/tenants -->
<!-- domain/regions -->
<!-- domain/faqs/:faqId -->
<!-- domain/settings -->
<!-- domain/unanswered-questions/:unansweredId -->
<!-- domain/fallback-responses -->