<!-- <div class="main-container">
    <aside>
        <app-dashboard></app-dashboard>
    </aside>
        <div class="container">
            <router-outlet></router-outlet>
        </div>
</div> -->

<section class="configurations">
    <app-sidebar></app-sidebar>
    <router-outlet></router-outlet>
</section>


<!-- Base -->
<!-- <section> -->
<!-- <sidebar></sidebar> -->
<!-- router-outlet -->
<!-- </section> -->

<!-- /configurations route -->
<!-- Configurations -->
<!-- configurations dashboard -->


<!-- domain/configurations -->

<!-- domain/tenants -->
<!-- domain/regions -->
<!-- domain/faqs/:faqId -->
<!-- domain/settings -->
<!-- domain/unanswered-questions/:unansweredId -->
<!-- domain/fallback-responses -->